global:
  resolve_timeout: 5m

route:
  group_by: ['alertname', 'cluster', 'service']
  group_wait: 10s
  group_interval: 10s
  repeat_interval: 1h
  receiver: 'default-webhook'

receivers:
  - name: 'default-webhook'
    webhook_configs:
      - url: 'http://127.0.0.1:5001/' # Hier kannst du später dein Discord/Slack/PagerDuty Gateway eintragen
        send_resolved: true
